body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #253f81;
  color: #333;
}

container {
  width: 50vh;
  height: fit-content;
  max-width: 360px;
  background-color: #10265b;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 20px;
}

.spotify-widget{
  width: 100%;
  margin-bottom: 10px;
}

.spotify-widget iframe{
  display: block;
}

.passador-de-fotos{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 15px;
}

.passador-de-fotos img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 15px;
}

.passador-de-fotos img.activate{
  opacity: 1;
}

.controle-passador{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.controle-passador button{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.controle-passador button:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

.tempo-juntos{
  text-align: center;
  padding: 0 20px;
}

.tempo-juntos h2{
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 10px;
  color: #69b7ff;
}

.tempo-juntos p#contagem {
  font-size: 1.0em; 
  font-weight: 300;
  color: #007bff;
  letter-spacing: 0.5px; 
  line-height: 1.4; 
}

@media (max-width: 400px) {
  .container{
    border-radius: 0;
    box-shadow: none;
  }
}
